@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor1:#161F30;
    --cor2:#173540;
    --cor3:#217373;
    --cor4:#3D3D3D;

    --fontRobotoFamily:"Roboto Slab", serif;
}

body{
    background-color: var(--cor4);
    font-family: var(--fontRobotoFamily);
}

section#area{
    color: white;
    background-color: var(--cor1);
    max-width: 400px;
    min-width: 300px;
    border-radius: 0.8rem;
    box-shadow: 2px 2px 10px var(--cor1);
    padding: 20px;
    margin: auto;
    margin-top: 200px;
    justify-items: center;
}

section > h1{
    text-align: center;
    font-family: var(--fontRobotoFamily);
    margin-bottom: 20px;
}

nav{
    background-color: white;
    border-radius: 1.2rem;
    border: 2px solid black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.562);
    padding: 5px;
    margin: 0px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#btnAdd{
    background-color: var(--cor3);
    color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);
    width: 35px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
    transition: .5s;
}

button#btnAdd:hover{
    background-color: #67c0c0;
}

button#btnAdd > img {
    width: 100%;
}

input {
    width: 80%;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 0px;
    border: none;
}

input:focus {
    outline: none;
}

.item{
    list-style-type: none;
    padding: 10px;
    margin:5px;
    width: 380px;
    height: 20px;
    background-color: #173540;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
}

.item::after{
    background-image: url();
}

input[type=checkbox]{
    appearance: none;
    border-radius: 10px;
    background-color: ghostwhite;
    width: 16px;
    height: 16px;
}

input[type=checkbox]:checked{
    background-color: ghostwhite;
    position: relative;
}


input[type=checkbox]:checked::after{
    content: "✓";
    font-size: 16px;
    font-weight: bold;
    color:var(--cor3);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lista{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 16px;
}